In [25]:
import numpy as np
import pandas as pd
from sklearn import metrics
df=pd.read_csv(r"C:\Users\pshee\Desktop\sem 7\ML LAB\labset\Ml_programs_dataset\dataset\Play Tennis.csv")

In [26]:
df=df.iloc[:, 1:]

In [27]:
df

     Outlook Temprature Humidity    Wind Play_Tennis
0      Sunny        Hot     High    Weak          No
1      Sunny        Hot     High  Strong          No
2   Overcast        Hot     High    Weak         Yes
3       Rain       Mild     High    Weak         Yes
4       Rain       Cool   Normal    Weak         Yes
5       Rain       Cool   Normal  Strong          No
6   Overcast       Cool   Normal  Strong         Yes
7      Sunny       Mild     High    Weak          No
8      Sunny       Cool   Normal    Weak         Yes
9       Rain       Mild   Normal    Weak         Yes
10     Sunny       Mild   Normal  Strong         Yes
11  Overcast       Mild     High  Strong         Yes
12  Overcast        Hot   Normal    Weak         Yes
13      Rain       Mild     High  Strong          No

In [28]:
df.head()

    Outlook Temprature Humidity    Wind Play_Tennis
0     Sunny        Hot     High    Weak          No
1     Sunny        Hot     High  Strong          No
2  Overcast        Hot     High    Weak         Yes
3      Rain       Mild     High    Weak         Yes
4      Rain       Cool   Normal    Weak         Yes

In [29]:
len(df)

14

In [30]:
from sklearn import preprocessing
str_to_int=preprocessing.LabelEncoder()
df=df.apply(str_to_int.fit_transform)
df

    Outlook  Temprature  Humidity  Wind  Play_Tennis
0         2           1         0     1            0
1         2           1         0     0            0
2         0           1         0     1            1
3         1           2         0     1            1
4         1           0         1     1            1
5         1           0         1     0            0
6         0           0         1     0            1
7         2           2         0     1            0
8         2           0         1     1            1
9         1           2         1     1            1
10        2           2         1     0            1
11        0           2         0     0            1
12        0           1         1     1            1
13        1           2         0     0            0

In [31]:
col=["Outlook",	"Temprature",	"Humidity"	,"Wind"]
x=df[col]
y=df.Play_Tennis

In [32]:
x

    Outlook  Temprature  Humidity  Wind
0         2           1         0     1
1         2           1         0     0
2         0           1         0     1
3         1           2         0     1
4         1           0         1     1
5         1           0         1     0
6         0           0         1     0
7         2           2         0     1
8         2           0         1     1
9         1           2         1     1
10        2           2         1     0
11        0           2         0     0
12        0           1         1     1
13        1           2         0     0

In [33]:
y

0     0
1     0
2     1
3     1
4     1
5     0
6     1
7     0
8     1
9     1
10    1
11    1
12    1
13    0
Name: Play_Tennis, dtype: int64

In [34]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=42)

In [35]:
from sklearn.tree import DecisionTreeClassifier
classifier=DecisionTreeClassifier(criterion="gini",random_state=100)

In [36]:
classifier.fit(x_train,y_train)
y_pred=classifier.predict(x_test)

In [37]:
y_pred

array([1, 0, 0, 1, 1])

In [38]:
from sklearn.metrics import accuracy_score
a=accuracy_score(y_test,y_pred)
print(a)

0.6

In [39]:
data_p=pd.DataFrame({"y_test":y_test,"y_pred":y_pred})
data_p

    y_test  y_pred
9        1       1
11       1       0
0        0       0
12       1       1
5        0       1

In [40]:
from sklearn.metrics import confusion_matrix,classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.50      0.50      0.50         2
           1       0.67      0.67      0.67         3

    accuracy                           0.60         5
   macro avg       0.58      0.58      0.58         5
weighted avg       0.60      0.60      0.60         5

In [41]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_pred,y_test))

[[1 1]
 [1 2]]