In [1]:
import numpy as np
import pandas as pd
from sklearn import metrics

In [2]:
df=pd.read_csv(r"C:\Users\pshee\Desktop\sem 7\ML LAB\labset\Ml_programs_dataset\dataset\Play_Tennis_reg.csv")

In [3]:
df

     Outlook Temprature Humidity    Wind  Golf Players
0      Sunny        Hot     High    Weak            25
1      Sunny        Hot     High  Strong            30
2   Overcast        Hot     High    Weak            46
3       Rain       Mild     High    Weak            45
4       Rain       Cool   Normal    Weak            52
5       Rain       Cool   Normal  Strong            23
6   Overcast       Cool   Normal  Strong            43
7      Sunny       Mild     High    Weak            35
8      Sunny       Cool   Normal    Weak            38
9       Rain       Mild   Normal    Weak            46
10     Sunny       Mild   Normal  Strong            48
11  Overcast       Mild     High  Strong            52
12  Overcast        Hot   Normal    Weak            44
13      Rain       Mild     High  Strong            30

In [4]:
X=df.drop("Golf Players",axis=1)

In [5]:
y=df["Golf Players"]
X

     Outlook Temprature Humidity    Wind
0      Sunny        Hot     High    Weak
1      Sunny        Hot     High  Strong
2   Overcast        Hot     High    Weak
3       Rain       Mild     High    Weak
4       Rain       Cool   Normal    Weak
5       Rain       Cool   Normal  Strong
6   Overcast       Cool   Normal  Strong
7      Sunny       Mild     High    Weak
8      Sunny       Cool   Normal    Weak
9       Rain       Mild   Normal    Weak
10     Sunny       Mild   Normal  Strong
11  Overcast       Mild     High  Strong
12  Overcast        Hot   Normal    Weak
13      Rain       Mild     High  Strong

In [6]:
y

0     25
1     30
2     46
3     45
4     52
5     23
6     43
7     35
8     38
9     46
10    48
11    52
12    44
13    30
Name: Golf Players, dtype: int64

In [7]:
from sklearn import preprocessing

In [8]:
from sklearn.preprocessing import LabelEncoder
string_to_int=preprocessing.LabelEncoder()

In [9]:
X = X.apply(string_to_int.fit_transform)
X

    Outlook  Temprature  Humidity  Wind
0         2           1         0     1
1         2           1         0     0
2         0           1         0     1
3         1           2         0     1
4         1           0         1     1
5         1           0         1     0
6         0           0         1     0
7         2           2         0     1
8         2           0         1     1
9         1           2         1     1
10        2           2         1     0
11        0           2         0     0
12        0           1         1     1
13        1           2         0     0

In [10]:
from sklearn.tree import DecisionTreeRegressor
reg=DecisionTreeRegressor()

In [11]:
reg=reg.fit(X,y)

In [12]:
X

    Outlook  Temprature  Humidity  Wind
0         2           1         0     1
1         2           1         0     0
2         0           1         0     1
3         1           2         0     1
4         1           0         1     1
5         1           0         1     0
6         0           0         1     0
7         2           2         0     1
8         2           0         1     1
9         1           2         1     1
10        2           2         1     0
11        0           2         0     0
12        0           1         1     1
13        1           2         0     0

In [13]:
y

0     25
1     30
2     46
3     45
4     52
5     23
6     43
7     35
8     38
9     46
10    48
11    52
12    44
13    30
Name: Golf Players, dtype: int64

In [14]:
#input_data=pd.DataFrame([[2,1,0,1]],columns=X.columns)

In [15]:
#ypred=reg.predict(input_data)
ypred=reg.predict([[2,1,0,1]])

C:\Users\pshee\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

In [16]:
print("prediction is :", ypred)

prediction is : [25.]

In [17]:
ypred=reg.predict([[1,2,0,0]])

C:\Users\pshee\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

In [18]:
print("prediction is :" ,ypred)

prediction is : [30.]